.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 5px;
}
.wrapper:hover {
  background-color: cornflowerblue;
  color: white;
}
.colorPreview {
  width: 15px;
  height: 15px;
}
